<%= image_tag "home-tp.png" %>

<div id="red-border">
	<span>
		<p id="quiz"class="codatext">Take A Quiz</p>
	</span>
	<span class="textbox top-to-bottom">
	  	<p id="track" class="codatext top-to-bottom ">Track Your Progress</p>
	</span>
	<span>
	  	<p id="friends" class="codatext top-to-bottom ">Tell Your Friends</p>
	</span>
</div>



