
<!DOCTYPE html>
<html>
  <head>
  	<link href='http://fonts.googleapis.com/css?family=Coda:400,800' rel='stylesheet' type='text/css'>
  </head>
  <body>
  	<img src="home-tp.png">
  	<div id="red-border">
  		<span>
  			<p id="quiz"class="codatext">Take A Quiz</p>
  		</span>
  	  	<span class="textbox top-to-bottom">
  			<p id="track" class="codatext top-to-bottom ">Track Your Progress</p>
  		</span>
  	  	<span>
  			<p id="friends" class="codatext top-to-bottom ">Tell Your Friends</p>
  		</span>
  	</div>

  </body>
    	
    <footer id="sitefoot">
  		<span class="footspace">Site Map</span>
  		<span class="footspace">Contact Us</span>
  		<span class="footspace">Tweet</span>
  	</footer>
  	<div id="blackfoot"></div>

 </html> 	