  	<header id="logohead">
  		<%= image_tag "techylogo.png" %>
  		<span class="headset">Settings</span><span class="straightbar">|</span>
  		<span class="headset">Help</span><span class="straightbar">|</span>
  		<span class="headset">Logout</span>
  	</header>

  	<div id="welcome">
  		<span><img src="image"></span>
  		<span><h1>Welcome, Name!</h1></span>
  		<hr>
  	</div>
  		<%= image_tag "circle1.png" %>
  	<div id="febox">
  		<p><h2>Front End</h2></p>
  		<p class="frontend"><a href="#">HTML</a></p>
  		<p class="frontend"><a href="#">CSS</a></p>
  		<p class="frontend"><a href="">JavaScript</a></p>
  	</div>
  		<%= image_tag "circle2.png" %>
  	<div id="bebox">
  		<p><h2>Back End</h2></p>
  		<p class="backend"><a href="#">Algorithms</a></p>
  		<p class="backend"><a href="#">Python</a></p>
  		<p class="backend"><a href="">PHP</a></p>
  	</div>
  	<div id="devbox">
  		<p><h2>Dev and Opps</h2></p>
  		<p class="devops"><a href="#">Linux</a></p>
  		<p class="devops"><a href="#">AWS</a></p>
  	</div>
  		<%= image_tag "circle3.png" %>
  	<div id="tweetsbar">
  		<p><h2>Live Tweets</h2></p>
      <p id="spacefiller"></p>
  	</div>
  	<div id="cotags">
  		<span class="comps">Google</span>
  		<span class="comps">Yahoo!</span>
  		<span class="comps">Coursera</span>
  		<span class="comps">More...</span>
  	</div>




