img{
	margin: 11% 0% 0% 4%;
}
#red-border{
	width: 97%;
	margin: -36% 0% 0% 3%;
	padding: 10%;
	padding-left: 7%;
}
.codatext{
	display: inline-block;
	margin: 9% 10% 0% 0%;
	font-family: 'coda', arial, san-serif;
	font-size: 1.5em;
	text-align: center;
	background: #fff;
	width: 18%;
	border: #F2EC99 3px solid;
	border-radius: -moz-border-radius: 15px;
	border-radius: 15px;
}
#track{
	margin-left: 6%;
}
footer{
		background: #777;
		padding: 1%;
		padding-left: 28%;
}
#sitefoot{
	font-family: 'coda', arial, san-serif;
	color: #fff;
	margin: 10% 0% 0% 0%;

}
.footspace{
	padding-right: 17%;

}
#blackfoot{
	padding: 2%;
	background: #000;
}