@import "compass/css3/border-radius";

img{
	margin: 4% 0% 0% 4%;
}
#home-image {
	width: 960px;
	margin: auto;
}
#red-border{
	width: 97%;
	margin: -36% 0% 0% 3%;
	padding: 10%;
	padding-left: 7%;
}
.codatext{
	display: inline-block;
	margin: 12% 8% 0% 0%;
	font-family: 'coda', arial, san-serif;
	font-size: 1.5em;
	text-align: center;
	background: #fff;
	width: 18%;
	border: #F2EC99 3px solid;
	@include border-radius(15px);
}
#track{
	margin-left: 11%;
}
#friends{
	margin-left: 9%;
}
footer{
	background: #777;
	padding: 1%;
	padding-left: 28%;
}
#sitefoot{
	font-family: 'coda', arial, san-serif;
	color: #fff;
	margin: 0% 0% 0% 0%;
	margin-top: 5%;

}
.footspace{
	padding-right: 17%;

}